<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.9//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aca.mapper.UserXMLMapper">

    <select id="findAlUsers" resultType="com.aca.entity.User">
        select *
        from user;
    </select>
</mapper>